// breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

//colors
$primary-color: white;
$secondary-color: #f80015;
$background-color: black;
$accent-color: #cdef48;
